body {
	background-color: #978ABF;
	text-align: center;
	font-family: 'Odibee Sans', cursive;
	font-size: 20px;
}

h1 {
	font-family: 'Sigmar One', cursive;
	text-align: center;
	color: #697CB3;
	font-size: 42px;
}

h2 {
	text-align: center;
	font-family: 'Noto Sans TC', sans-serif;
	color: black;
	font-size: 25px;
}

h3 {
	font-family: 'Lobster', cursive;
	text-align: center;
	color: crimson;
	font-size: 25px;
}

p {
	text-align: center;
	font-family: 'Dosis', sans-serif;
	font-size: 22px;
}

table {
	width: 200%;
	margin-left: 30%;
	margin-right: 15%;
}

.menu {
	float: left;
	width: 20%;
	text-align: center;
}

.menu a {
	background-color: #e5e5e5;
	padding: 8px;
	margin-top: 7px;
	display: block;
	width: 75%;
	color: grey;
	font-family: 'Odibee Sans', cursive;
	font-size: 20px;
}

.main {
	float: left;
	width: 25%;
	padding: 0 20px;
}

.right {
  float:left;
  width:20%;
  padding:15px;
  margin-top:7px;
  text-align:center;
}

@media only screen and (max-width:620px) {

	/* For mobile phones: */
	.menu,
	.main{
		width: 40%;
	}
}



/*For Slide Show*/

.fling-minislide {
	width: 400px;
	height: 600px;
	overflow: hidden;
	position: relative;
	text-align: start;
}

.fling-minislide img {
	position: absolute;
	animation: fling-minislide 20s infinite;
	opacity: 0;
	width: 100%;
	height: auto;
}

@keyframes fling-minislide {
	25% {
		opacity: 1;
	}

	40% {
		opacity: 0;
	}
}

.fling-minislide img:nth-child(5) {
	animation-delay: 5s;
}

.fling-minislide img:nth-child(4) {
	animation-delay: 10s;
}

.fling-minislideimg:nth-child(3) {
	animation-delay: 15s;
}

.fling-minislide img:nth-child(2) {
	animation-delay: 20s;
}

.fling-minislide img:nth-child(1) {
	animation-delay: 25s;
}
